* {
    padding: 0;
    margin: 0;
}

a {
    color: #000000;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.6;
}

#nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    height: 8vh;
    margin-bottom: 1.5em;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
}

.spacing {
    height: 5.5em;
}

#logo {
    width: calc(1872px / 8);
    height: calc(801px / 8);
    background-image: url("../img/logo_veggie_place_CS6-10.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#search {
    width: 800px;
    height: 2.5em;
    border-radius: 25px;
    background-color: #eeeeee;
    box-shadow: 0px 7px #aaaaaa;
    padding: 2px 16px;
    font-size: 1em;
    border: none;
    background-image: url("../img/magnifying-glass-solid.svg");
    background-repeat: no-repeat;
    background-position: 97% 50%;
    background-size: 20px 20px;
}

#search:focus {
    outline: none;
}

#nav-list {
    list-style: none;
    display: flex;
    align-items: center;
}

#nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
    text-transform: uppercase;
}

#mobile-menu {
    color: #f58227;
    display: none;
    font-size: 2.5em;
    transition: 0.3s;
}

#mobile-menu:hover {
    opacity: 0.7;
    cursor: pointer;
}

@media (max-width: 1499px) {
    #search {
        width: 405px;
    }

    #logo {
        width: calc(1872px / 11);
        height: calc(801px / 11);
    }
}

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }

    #nav-list {
        display: none;
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    #nav-list.active {
        transform: translateX(0);
        background-color: #9fc23d;

    }

    #nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    #logo {
        width: calc(1872px / 20);
        height: calc(801px / 10);
        background-image: url('../img/logo_veggie_place_CS6-04.png');
    }

    #search {
        font-size: 1em;
        padding: 0 10px;
    }

    #mobile-menu {
        display: block;
        margin-left: 14px;
        margin-right: 5px;
    }
}

@media (max-width: 430px) {
    body {
        overflow-x: hidden;
    }

    #nav-list {
        width: 100vw;
        border-left: none;
    }

    #logo {
        width: calc(1872px / 36);
        height: calc(801px / 14);
        background-image: url('../img/logo_veggie_place_CS6-06.png');
    }

    #search {
        width: 270px;
    }

    #mobile-menu {
        font-size: 1.8em;
        margin-left: 2px;
    }
}

@media (max-width: 399px) {
    #search {
        width: 220px;
        height: 2em;
        background-size: 16px 16px;
    }

    #nav {
        margin-bottom: 10px;
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.advertisement {
    background-color: #548d19;
    width: 50%;
    margin: 0 auto;
    border-radius: 12px;
    text-align: center;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    background-image: url("../img/tomate.png");
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: 90% 50%;
    box-shadow: 2px 10px #aaaaaa;
    margin-bottom: 3em;
}

.advertisement h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.8em;
    margin-bottom: 1em;
    font-weight: 600;
}

.advertisement p {
    font-family: "Roboto", sans-serif;
    font-size: 1.4em;
    line-height: 1.5em;
    font-weight: 100;
    margin-bottom: 16px;
}

.btn-advertisement {
    background-color: #f58227;
    color: #222222;
    font-size: 1.2em;
    padding: 6px 6px;
    border-radius: 100px;
    border: none;
    width: 200px;
    transition: all 0.3s ease-in-out;
}

.btn-advertisement:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.btn-advertisement:active {
    transform: scale(0.95);
}

@media (max-width: 999px) {
    .advertisement {
        width: 70%;
    }
}

@media (max-width: 430px) {
    .advertisement {
        width: 85%;
        background-size: 200px;
        background-position-x: 100%;
    }

    .advertisement h2 {
        font-size: 1.2em;
    }

    .advertisement p {
        font-size: 1em;
    }
}

@media (max-width: 399px) {
    .advertisement {
        width: 85%;
        background-size: 125px;
        background-position-x: 100%;
    }
}

.restaurants {
    text-align: center;
    font-size: 1em;
    font-family: "Montserrat", sans-serif;
    margin: 0 auto;
    width: 50%;
    margin-bottom: 1.8em;
}

.restaurants h2 {
    color: #4e4f4b;
    margin-bottom: 1em;
}

.restaurants ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.restaurants li {
    list-style: none;
    background-color: #548d19;
    width: 160px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 4px 7px #aaaaaa;
    margin-right: 1em;
    margin-bottom: 1em;
    transition: all 0.3s ease-in-out
}

.restaurants li:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.restaurants li:active {
    transform: scale(0.95);
}

.img {
    width: 100px;
    height: 100px;
    background-image: url('../img/restaurants/1.jpg');
    background-size: cover;
    border-radius: 100%;
}

@media (max-width: 999px) {
    .restaurants {
        width: 70%;
    }

    .restaurants ul {
        justify-content: center;
    }
}

@media (max-width: 430px) {
    .restaurants {
        width: 95%;
    }

    .restaurants li {
        width: 120px;
        height: 180px;
        font-size: 0.9em;
        margin-right: 10px;
    }

    .img {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 399px) {
    .restaurants {
        width: 100%;
    }

    .restaurants li {
        width: 102px;
        height: 162px;
        margin: 0 5px;
        margin-bottom: 10px;
        padding: 3px;
    }
}

.filters {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: #4e4f4b;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 1.5em;
}

.filters li {
    font-size: 1em;
    margin-right: 2.5em;
    margin-bottom: 0.5em;
}

.filters li h2 {
    font-weight: 500;
}

.selected {
    color: #f58227;
}

.filter-products {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-bottom: 2em;
}

.filter-products li {
    border-radius: 10px;
    width: 220px;
    height: 100%;
    box-shadow: 0 7px #aaaaaa;
    border: 2px solid #aaaaaa;
    border-top: none;
    margin: 0 5px;
    margin-bottom: 1.2em;
    font-family: "Roboto", sans-serif;
    text-align: left;
    padding-bottom: .5em;
}

.product-image {
    background-image: url("../img/products/hamburger.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    width: 123px;
    height: 123px;
    margin: 0 auto;
    margin-top: 1.2em;
    margin-bottom: 1.7em;
}

.product-description {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.product-name {
    font-size: 1em;
}

.product-price {
    font-size: 1.2em;
}

@media (max-width: 1499px) {
    .filters {
        width: 80% ;
    }

    .filter-products {
        width: 80%;
    }
}

@media (max-width: 999px) {
    .filters {
        width: 70%;
    }
    .filter-products {
        width: 90%;
    }
}

@media (max-width: 430px) {
    .filters {
        width: 100%;
        
    }
    .filters li {
        margin-right: 0;
        margin: 0 10px;
    }
    .filter-products {
        width: 100%;
    }

    .filter-products li {
        width: 180px;
        margin: 0 3px;
        margin-bottom: 1em;
    }
    .product-name {
        font-size: 1em;
    }
}

@media (max-width: 399px) {
    .filter-products li {
        width: 165px;
        
        margin: 0 3px;
        margin-bottom: 1em;
    }
    .product-image {
        margin-bottom: 0;
        margin-top: 0;
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
    color: #ffffff;
    background-image: url('../img/background.png');
    background-size: contain;
}
